################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/calc_md5
/calc_md5/Debug
/calc_md5/Release
/Debug
/Release
